*{
    padding: 0;
    margin: 0;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/bg.jpg');
}

form{
    width: 40%;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form > h3{
    font-weight: 500;
    margin-top: -10px;
}
input[type="submit"]{
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #7777F7;
    border-color: #ddd;
    color: white;
    transition: transform 0.2s ease;
    transition: border-color 0.2s ease;
}
label{
    font-size: 20px;
}
input[type="submit"]:hover{
    transform: scale(1.05);
    border-color: #5D5DF6;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 20px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #7777F7;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #5D5DF6;
}
.input-file:active span {
	background-color: #5D5DF6;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

#fileformlabel { 
    font-size: 20px;
    color: black;
    text-align: center;
    vertical-align: middle;
    width: 160px;
    height: 10px;
}
.error{
    margin: 10px;
    width: 40%;
    color: white;
    text-align: center;
    vertical-align: center;
    background-color: #F57A7A;
    border-radius: 5px;
    border-color: #F14A4A;
    border-width: 5px;
}
a{
    text-decoration: none;
    color: #7777F7;
}
input[type="password"]{
    background-color: #cbcbff8d;
}
input[type="text"]{
    background-color: #cbcbff8d;
}
.btn{
    top: 10px;
    right: 10px;
    position: absolute;
    display: inline-block;
	cursor: pointer;
	outline: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(88, 88, 197);
    border-color: #ddd;
    color: white;
    transition: transform 0.2s ease;
    transition: border-color 0.2s ease;
    z-index: 100;
}
.btn:hover{
    transform: scale(1.05);
    border-color:rgb(88, 88, 197);
}
